<% include partials/header %>
  <h1 class="title">Welcome to Friendster 2019!</h1>

  <a href="/friends/new" class="">Survey</a>
  <a href="/api/friends" class="">API: View All Friends (JSON)</a>

<% include partials/footer %>